In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("feature_selection.csv")

In [3]:
df.head()

   PriorDefault_t  YearsEmployed  CreditScore      Income  Approved
0               1           1.25            1  321.692754         1
1               1           3.04            6  560.000000         1
2               1           1.50            0  824.000000         1
3               1           3.75            5    3.000000         1
4               1           1.71            0  321.692754         1

In [4]:
meanstd = pd.DataFrame([[df['PriorDefault_t'].mean(),df['PriorDefault_t'].std()],
                      [df['YearsEmployed'].mean(),df['YearsEmployed'].std()],
                      [df['CreditScore'].mean(),df['CreditScore'].std()],
                      [df['Income'].mean(),df['Income'].std()]],columns=["mean","std"],
                      index=["PriorDefault_t","YearsEmployed","CreditScore","Income"])

In [5]:
meanstd

                      mean         std
PriorDefault_t    0.523188    0.499824
YearsEmployed     2.040920    2.633902
CreditScore       2.156522    3.564275
Income          459.228061  476.394710

In [6]:
meanstd.reset_index(inplace=True)

In [7]:
meanstd.to_csv("meanstd.csv",index=False)

In [8]:
data = pd.read_csv("meanstd.csv")

In [9]:
data.head()

            index        mean         std
0  PriorDefault_t    0.523188    0.499824
1   YearsEmployed    2.040920    2.633902
2     CreditScore    2.156522    3.564275
3          Income  459.228061  476.394710

In [10]:
data = pd.read_csv("meanstd.csv",index_col="index")