In [1]:
import pandas as pd
import numpy as np
import researchpy as rp
import scipy.stats as stats

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("credit-approval.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          678 non-null    object
 1   Age             678 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         684 non-null    object
 4   BankCustomer    684 non-null    object
 5   EducationLevel  681 non-null    object
 6   Ethnicity       681 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    object
 9   Employed        690 non-null    object
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    object
 12  Citizen         690 non-null    object
 13  ZipCode         677 non-null    float64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(4), int64(3), object(9)
memory usage: 86.4+ KB

In [5]:
data['ZipCode'] = data['ZipCode'].astype(str).replace(r'[^0-9]+', '')
data['Approved'] = data['Approved'].astype(str).str.replace(r'[^0-9]+', '')

In [6]:
rp.summary_cat(data[["ZipCode", "Approved"]])

     Variable Outcome  Count  Percent
0     ZipCode     0.0    132    19.13
1               120.0     35     5.07
2               200.0     35     5.07
3               160.0     34     4.93
4                80.0     30     4.35
..        ...     ...    ...      ...
168             434.0      1     0.14
169              17.0      1     0.14
170             102.0      1     0.14
171  Approved       0    383    55.51
172                 1    307    44.49

[173 rows x 4 columns]

In [7]:
crosstab, test_results, expected = rp.crosstab(data["Approved"], data["ZipCode"],
                                               test= "chi-square",
                                               expected_freqs= True,
                                               prop= "cell")

crosstab

         ZipCode                                                         ...  \
ZipCode      0.0 100.0 102.0 108.0 110.0 112.0 1160.0 117.0 120.0 121.0  ...
Approved                                                                 ...
0           7.39  2.32  0.00  0.43  0.14  0.29   0.14  0.00  3.33  0.00  ...
1          11.74  2.03  0.14  0.14  0.14  0.00   0.00  0.14  1.74  0.14  ...
All        19.13  4.35  0.14  0.58  0.29  0.29   0.14  0.14  5.07  0.14  ...


ZipCode   88.0  92.0 928.0  93.0  94.0  96.0 980.0  99.0   nan     All
Approved
0         0.00  0.14  0.14  0.00  0.14  0.14  0.14  0.00  1.01   55.51
1         0.29  0.14  0.00  0.14  0.00  0.29  0.00  0.14  0.87   44.49
All       0.29  0.29  0.14  0.14  0.14  0.43  0.14  0.14  1.88  100.00

[3 rows x 172 columns]

In [8]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
table = crosstab
stat, p, dof, expected = chi2_contingency(table)
print('dof=%d' % dof)


#interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')


# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject H0)')
    print("There is a relationship between target and independent variable")
else:
    print('Independent (fail to reject H0)')
    print("There is no relationship between target and independent variable")

dof=342
probability=0.950, critical=386.125, stat=31.312
Independent (fail to reject H0)
significance=0.050, p=1.000
Independent (fail to reject H0)
There is no relationship between target and independent variable